body {
    padding-top: 5rem;
}


.bingo-cell {
    border: 1px solid black;
    height: 20vw;
    max-height: 11vh;
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.bingo-cell.already-clicked h2 {
    text-decoration: line-through;
}

.bingo-cell::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 110%;
}

.vcenter  {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
} 

.bingo-button-row {
    margin-bottom: 1rem;
}

.bingo-cell-row .bingo-cell {
    border-radius: 3px;
}

.bingo-cell {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.bingo-balls {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.bingo-balls > span {
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.1rem;
}

.bingo-balls > span:last-of-type {
    animation-name: spin;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        margin-left: 2rem;
        transform: rotate(0deg);
    }
    60% {
        margin-left: -0.1rem;
        transform: rotate(-400deg);
    }
    100% {
        margin-left: 0;
        transform: rotate(-360deg);
    }
}
