body {
    padding-top: 5rem;
}


.bingo-cell {
    border: 1px solid black;
    height: calc(10vh + 10px);
}

.bingo-cell h6 { /* free space */
}

.bingo-cell::before {
   /* content: "";
    display: inline-block;
    margin-top: 80%; */
}

.vcenter {
    transform: translateY(3vh);
}